<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>
 <header id="header"></header>

 <main>
     <header>
         <h1>첫번째글</h1>
     </header>

     <aside>
         <p>Uno</p>
         <p><a href="mailto:djkehh@gmail.com">uno@gamil.com</a></p>
         <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
         <p>#java</p>
     </aside>

     <section>
         <p>본문<br><br></p>
         <div>
             <form>
                 <label for="articleComment" hidden="">댓글</label>
                 <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                 <button type="submit">쓰기</button>
             </form>
         </div>
         <ul>
             <li>
                 <div>
                     <time><small>2022-01-01</small></time>
                     <strong>Uno</strong>
                     <p>
                         Lorem ipsum do sit emast,dsg
                         Lorem ipsum do sit emat,dsg

                     </p>
                 </div>
             </li>
             <li>
                 <div>
                     <time><small>2022-01-01</small></time>
                     <strong>Uno</strong>
                     <p>
                         Lorem ipsum do sit emast,dsg
                         Lorem ipsum do sit emat,dsg

                     </p>
                 </div>
             </li>
         </ul>
         <nav>
             <a href="#">이전글</a>
             <a href="#">다음글</a>
         </nav>
     </section>

 </main>

 <footer id="footer"></footer>
</body>
</html>
